# LocalSend base .gitignore
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/

# kemi-send additions
bin/
app/build/
app/android/build/
app/.dart_tool/
